# ------------------------------------
# Supabase PostgreSQL Database Secrets
# ------------------------------------
# Make sure NOT to commit this file to GitHub!
# You can find these details in Supabase -> Project Settings -> Database.

DB_NAME=postgres
DB_USER=postgres.[project_id]
DB_PASSWORD=[your_database_password]
DB_HOST=aws-0-[region].pooler.supabase.com
DB_PORT=6543
